/*GLOBAL STYLES*/

:root{
  --primary:#130e0c;
  --secondary:#926A54;
  --dark:#000;
  --image_blur_bg: rgba(16, 12, 10, .7);
  --text1:#fff;
  --text2:#8C8988;
  --font-xsm:clamp(.6rem,2vw,1rem);
  --font-sm:20px;
  --font-md:25px;
  --font-lg:40px;
  --font-xlg:clamp(.5rem, 8vw, 10rem);
  --border-color:#fff;
  --faded-border:rgba(100,100,100,.5);
  --border-radius:15px;
  --font1:cursive;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
p{
	font-size: var(--font-xsm);
		font-family: var(--font1);
}
img{
	width: 100%;
	object-fit: cover;
}
ul{
	list-style: none;
}
.title{
	color: transparent;
	background: linear-gradient( 0deg ,white 99%,transparent 2%) no-repeat; 
	background-size: 0 0%;
	background-position: bottom;
	background-clip: text;
	-webkit-background-clip:text;
}
.title.active{
	transition: opacity .2s ease;
	animation: reveal 1.5s .2s both;

}
@keyframes reveal {
	to{
		background-size: 100% 100%;
	}
}
.absolute{
	position: absolute;
}
input{
	background: transparent;
	border: 0;
	outline: 0;
}
h2{ font-size:var(--font-xlg); }
button{
	outline: 0;
	border:0;
	cursor: pointer;
	background: transparent;
    border-radius: 20px;
     border: 1px solid white;
 color:white;
 		padding: 7px 10px;
 font-size: var(--font-xsm);
}
body{
 background: var(--primary);
  color: var(--text1);
}
/*REUSABLE CLASSES*/
.container{
 margin: 20px;

}
.section{
	margin-bottom: 50px;
}
.border_rad{
	border-radius: 12px;
}
.title{
	font-family: monospace;
}
.white{
	background: white !important;
	color:var(--primary) ;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.d_grid{
	display: grid;
}
.btn_round{
	   width: 35px;
	padding: 0;
	aspect-ratio: 1/1;
border-radius: 50%;	
}
.swiper-button-prev:after,
.swiper-button-next:after{
	display: none;
}

/*HEADER*/
.header{
	padding:10px;
	border-radius: 20px;
	background: rgba(0, 0, 0, .8);
	overflow: hidden;
}
.nav{
	font-size: var(--font-xsm);
}
.nav_left{

}
.menu_open{
	display: none;
}
.nav_list{
	margin-left: 40px;
	gap: 20px;
justify-self: flex-start;
color:rgba(255, 255, 255, .3);
}

.list_items{
	cursor:pointer;
}
.list_items.active{
	color:white;
}

.nav_button button{
 padding: 5px 20px;
 font-size: var(--font-xsm);
}
.nav_button .search{
	width: 20px;
	padding: 0;
	aspect-ratio: 1/1;
border-radius: 50%;	
}
.logo{
	letter-spacing: 5px;
	font-size: var(--font-sm);
}

.zales{
	font-family: monospace;
	font-size: var(--font-xlg);
	color: rgba(160, 120, 100, .5);
	text-transform: uppercase;
}
/*HERO*/
.hero_container{
	width: 100%;
	height: 88vh;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, .1);
}
.hero_container .bg{
	object-fit: cover;
	height: 100%;
	object-position: top;
}
.hero_content{
	position: absolute;
	inset: 0;
	display: flex;
	background:var(--image_blur_bg);
	justify-content: center;
	align-items: center;
}

.hero_content >article{
	width: 95%;
height: 100%;
grid-template-rows: repeat(10, 1fr);
 position: relative;
 display: grid;  
}
.sub_title{
	grid-area: 6/1;
	max-width:35rem;
}
.hero_title{
max-width: 45rem;
letter-spacing: -1px;
font-family: monospace;
font-size: clamp(2rem,6vw, 3rem);
grid-area: 7/1;
}
.hero_title span{
	margin-block: -1rem;
}
.hero_buttons{
	position: relative;
	width: 100%;
	grid-area: 9/1;
	justify-content: space-between;

}
.hero_buttons_right > button{
	border-color: var(--faded-border);
	}
.hero_buttons_right > button.active{
	width: 50px;
	height: 30px;
	border-color: var(--border-color);
	border-radius: var(--border-radius);
}
.pagination{
	flex-direction: column;
	position: absolute;
	right: 	10px;
	top:30%;
	font-size: var(--font-xsm);
}
.pag{
	display: grid;
	width: 2px;
	height: 80px;
	border-radius: 14px;
	background: rgba(255, 255, 255, .2);
}
.pag span.active{
background:white;
}

/*SECTION2*/

.section2{
	margin-bottom: 10rem;
}
.section2 .top_boxes{
 gap: 5px;
 margin-bottom: 40px;
}
.section2 .top_boxes>div{
	width: 100%;
	padding: 1rem;
	height: 150px;
	overflow: hidden;
 border-radius: var(--border-radius);
}

.section2 .bx1{
	gap: 1rem;
	background:var(--faded-border) ;
	flex-basis: 70%;
}
.section2 .bx1 .bx1_images div{
	width: clamp(3rem, 5vw, 5rem);
	aspect-ratio: 1/1;
}
.section2 .bx1 .bx1_images div:nth-of-type(1){
	border-radius:50%;
	place-content: center;
	background: var(--secondary);
}
.section2 .bx1 .bx1_images div:nth-of-type(2){
	overflow: hidden;
	position: relative;
	height: clamp(3rem, 5vw, 5rem);
            width: 2rem;
            border-radius: 0 150px 150px 0 ;
}
.section2 .bx1 .bx1_images div:nth-of-type(2) img{
	height: 100%;
}
.section2 .bx1 .bx1_images{
	justify-content: center;
	flex-basis: 20%;
}
.bx1_text{
	flex-basis: 80%;
}
.bx1_text p{
	margin-bottom: 20px;
}

.section2 .bx2{
	justify-content: start;
	flex-basis: 30%;
	gap: 20px;
	background: var(--secondary);
}
.section2 .bx2 h3{
 font-size: clamp(2rem, 4vw, 5rem);
}
.bx2_btm{
	gap: 30px;

}
.bx2_images{
	width: 100%;
	height: 100%;
	position: relative;
	place-content: center;
	grid-template-columns: repeat(9, 20px) ;	
	grid-template-columns: 1fr 1fr ;
}
.bx2_images .absolute{
	position: relative;
	background:var(--border-color);
	width:clamp(25px, 3vw, 40px);
	aspect-ratio:1/1;
	border-radius:50%;
	overflow: hidden;
	bottom: 0;
	grid-row: 1;

}
.absolute:nth-of-type(1){
  grid-column:1/4;
}
.absolute:nth-of-type(2){
  grid-column: 2/5;
}
.absolute:nth-of-type(3){
 grid-column: 3/6;
}


}
.bx1_text p {
max-width: 100px;
margin-bottom: 20px;
}
.bx1_text h4 {
	font-size: var(--font-sm);
max-width: 250px;
} 
.section2_text{

}
.section2_text_case1 h2{
 font-size: var(--font-xlg);
}
.section2_text_case1 article p{
color: var(--text2);
flex-basis: 50%;
text-transform: uppercase;

}
.section2_text_case1 article button{
}
.section2_diamonds{
	margin-block: 80px;
	position: relative;
	justify-content: center;

}
.section2_diamonds article{
gap: 5%;
 position: absolute;

}
.section2_diamonds div{
 position: absolute;
 width: clamp(2rem, 15vw, 8rem);
 aspect-ratio: 1/1;
 background: var(--primary);
 border:1px solid var(--faded-border);
 border-radius:50%;
 padding:10px;
 position: relative;
/* overflow: hidden;*/
}

.section2_diamonds div:after{
	content: attr(data-shape);
	position: absolute;
	bottom: -40px;
	left: 50%;
	font-size: clamp(.4rem, 3vw, 1rem);
	transform: translateX(-50%);
	color: var(--text2);

}
.section2_diamonds img{
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
}
.section2_diamonds span{
	width:90%;
	max-width: 50rem;
	height: 1px;
	position: relative;
	background: var(--faded-border);
}
.section2_diamonds div.active{
	border-color: rgba(255, 250, 250,.5);
	transform: scale(1.2);
}
.section2_diamonds div.active:after{
	color: var(--text1);
}
.section2_diamonds span:before,
.section2_diamonds span:after{
content: '';
width: 5px;
height: 5px;
position: absolute;
border-radius: 50%;
background: var(--border-color);
top: -2px;
}
.section2_diamonds span:before{
	left: 0;
}
.section2_diamonds span:after{
	right: 0;
}
/*SECTION3*/
.section3{
	overflow: hidden;
	background: var(--faded-border);
}
.section3 h2{
	width: 120%;
	transform: translateX(-15px);
	background: linear-gradient(90deg,transparent,var(--text1),transparent) ;
	background-clip: text;
	-webkit-text-fill-color:transparent;
	font-family: monospace;
	font-size:clamp(2.4rem ,15vw,30rem);
	margin-bottom: 40px;
}
.section3_container{
	position: relative;
}


.cat_view_title_image span{
	width: 50px;
	aspect-ratio: 1/1;
	background: red;
	border: 1px solid var(--primary);
	border-radius: 50%;
}

.category_swiper_wrapper{
	position: relative;
	height: 25rem;
}
.category_swiper{
	opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
	bottom: -20%;
	padding: 20px;
	width:60%;
	max-width: 400px;
	height: 400px;
}
.category_swiper.active{
	opacity: 1;
	  transform: translateX(-50%) scale(1);
	  transition: transform .1s ease;
}
.swiper-slide{
	border-radius: var(--border-radius);
}
.category-swiper-button-prev,.category-swiper-button-next{
	color: var(--text1);
	background: var(--dark);
	position: absolute;
	width: 40px;
	height: 30px;
	border-radius: var(--border-radius);
}
.category-swiper-button-prev{
	left:25px;

}
.category-swiper-button-next{
	right:25px;

}

.category_names{
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	padding: 30px;
	background: black;
}
.category_names >div{
	width: 100%;
	max-width: 35rem;
	margin: 0 auto;
}
.category_name{
	cursor: pointer;
	height: 70px;
	text-align: center;
	color: var(--faded-border);
}
.category_name .items_no{
	opacity: 0;
	transition: .3s ease;
}
.category_name.active .items_no{
	opacity: 1;
}
.category_name:hover,
.category_name:hover .items_no{
	opacity: .6;
	color: var(--text2);
}


.category_name.active{
	text-align: center;
	color: var(--text1);
	transform: scale(1.3);
}
.category_names h4{
	font-size: clamp(10px, 4vw,1.5rem);
}

/*SECTION4*/
.section4_container{
	padding: 50px 0;
	justify-content: center;
}
.section4_top{
	gap: 20px;
	justify-content:center;
}
.section4_title{
	font-size: var(--font-xlg);
}
.section4_top p{
	flex-basis: 30%;
color: var(--text2);
/*	width: clamp(100px, 10vw, 200px);*/
	font-size:clamp(10px, 2vw, 15px);
}
.section4_images_container{
	margin-block: 50px;
	max-width: 70rem;
	padding: 30px 0;
/*	height: 100px;*/
}
.section4_images{
    perspective: 6000px !important;
	gap: clamp(5px, 5vw, 1rem);

}
.section4_image{
	cursor:;
	position: relative;
	background: var(--secondary);
	height:clamp(170px, 30vw, 300px);
	overflow: hidden;
	border-radius: var(--border-radius);
}
.section4_image img{
	position: absolute;
	height: 100%;
}
.section4_image.swiper-slide-next + div{
	transform: translateY(10%)!important;
}
.section4_image .name,

.section4_image.swiper-slide-next +div .cat{
	position: absolute;
}
.cat{
	background: var(--faded-border);
	border-radius: var(--border-radius);
	top: 10px;
	padding: 5px 10px;
	left: 10px;
	font-size: clamp(.7rem, 1.5vw, 1.5rem);
}
.cat:after{
	content: '';
	position: absolute;
	background: white;
	width: 2px;
	border-radius: 50%;
	aspect-ratio: 1/1;
	bottom: 0;
	left: 25%;

}
 .name{
 	left: 10%;
	bottom: 20px;
	font-size:clamp(.5rem, 2vw, 1rem);
}
.section4_controls{
  justify-content: center;
}



/*SECTION5	*/
.section5_title{
	max-width: 50rem;
}
.section5_title h2{
	font-size: var(--font-xlg);
	text-transform: uppercase;
}
.section5_title div{
    justify-content: flex-start;
    gap: 4%;
}
.section5_title div p{
 max-width:14rem;
}
.section5_title2{
	text-align: right;
}

.section5_content{
	background: var(--dark);
}
.section5_swiper{
	height: 300px;
	max-width: 100%;
}

.section5_slide{

}

.section5_slide_absolute{
	position: absolute;
	background: rgba(0, 0, 0, .8);
    border-radius: 10px 0 0 10px;
    padding: 50px 20px 0;
	-webkit-backdrop-filter: blur(15px);
	top: 0;
	right: 0;
	width: 50%;
	max-width: 30rem;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.section5_slide_absolute::-webkit-scrollbar{
	width: 3px;
	background: var(--dark);
}
.section5_slide_absolute::-webkit-scrollbar-thumb{
	background: var(--secondary);
}
.section5_slide_absolute{
	flex-direction: column;
	align-items: flex-start;
}
.section5_content_pagination{
	width: 100%;
	height: 2px!important;
	background: var(--border-color);
}
.section5_content_pagination >span{
	background: var(--faded-border)!important;
}
.swiper-pagination:after{
	background: red !important;
}
.section5_slide_absolute .sub_title{
	color: var(--secondary);
	text-transform: capitalize;
	margin-block: 5px;
}
.section5_slide_absolute .from{
	justify-content: flex-start;
	margin-bottom: 10px;
}
.section5_slide_absolute article{
	max-width:80% ;
}
.section5_slide_absolute article .deets{
	color: var(--text2);
}
.section5_slide_absolute .from p{
	color: var(--text2);
}
.section5_slide_absolute .from .from_main{
	color: var(--text1);
}
.section5_slide_absolute .bottom{
	font-size: var(--font-xsm);
}
.section5_slide_absolute .bottom li{
	padding: 10px;
}
.section5-swiper-button-next{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 200;
}
.section5_content2{
	gap: 1rem;
	padding: 10px;
	position: relative;
}

.content2_left i{
	top: -20%;
	left:-10%; 
	position: absolute;
}
.content2_left i img{
	width: 100px;
}
.content2_left p{
/*	width: 150px;*/
}
.content2_right{
 display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
}
.content2_right li{
	padding:10px;
	text-align: center;
	border-radius: var(--border-radius );
	font-size:var(--font-xsm);
	border: 1px solid var(--faded-border);
}
.content2_right ul{
	gap: 5px;
}
.abs_img{
	width: 60%;
	min-width: 350px;
	max-width: 450px;
	position: absolute;
	top:-50%;
	left: 0;
}

/*SECTION6*/

.section6_container{
padding-top: 40px;
}
.section6_title >div{
}
.watch_on_btn{
	gap: 16px;
}
.watch_on_btn .btn_round{
    width: 30px;
	position: relative;
}
.watch_on_btn .btn_round:before,
.watch_on_btn .btn_round:after{
	content: '';
	position: absolute;
	width:inherit;
	height:100%;
	border-radius: 50%;
	top: 0;
	border: 1px solid var(--border-color);
}
.watch_on_btn .btn_round:before{
	left: -50%;
}
.watch_on_btn .btn_round:after{
	right: -50%;
}
.section6_title2{

}
.section6_title2 p{
	text-transform: uppercase;
	margin-left: 10px;
	font-size: clamp(5px, 1vw, var(--font-xsm));
	flex-basis: 40%;
}
.section6_bg_img{
	height: 25rem;
}
.section6_image_container{
	height: 25rem;
	position: relative;
	overflow: hidden;
}
.section6_image_container >article{
	position: absolute;
	inset: 0;
	background: rgba(16, 12, 10, .7);
	display: flex;
	justify-content: center;
}
.section6_image_container >article h2{
	position: relative;
}
.section6_image_container >article .card{
	width: clamp(4rem, 15vw, 10rem);
	aspect-ratio: 1/1.3;
	padding: 0;
	overflow: hidden;
	z-index: 1;
	border-radius: var(--border-radius);
}
.card img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-position: top;
}
.hand_img{
	bottom: 0;
	width: clamp(10rem, 30vw, 25rem);
}
.section6_image_text{
	font-size: clamp(5rem, 27vw, 15rem);
	font-family: monospace;
	text-transform: uppercase;
	color: var(--secondary);
}
.section6_image_text >div {
	position: relative;
	z-index: 2;
	margin-inline: -10px;
}
.section6_image_text >div span{
	position: relative;
}
.txt_mid span{
/*	position: absolute;*/
	z-index: -1;
}
.section6_abs_img{
	position: absolute;
}
.txt1 div{
/*	z-index: 1;*/
	right:-10% ;
	bottom: -10px;
	background: white;
	transform: rotate(-25deg);
}
.txt_mid div:nth-of-type(1){
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.txt_mid div:nth-of-type(2){
	top: 0;
	z-index: -4;
	right:-10%;
	transform: rotate(25deg);
}
.txt3 span{
	position: absolute;
	z-index: -10;
}
.section6_image_container >article span:nth-of-type(1){
 margin-right: 30px;
}
.section6_deets{
	margin: 2rem auto;
 max-width: 400px;

}
.section6_deets p{
	font-size: var(--font-md);
 text-align: center;
}
.section6_sponsors{
	justify-content: space-around;
	position: relative;
}
.section6_sponsors:before,.section6_sponsors:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--faded-border);

}
.section6_sponsors:before{
	top: 0;
}
.section6_sponsors:after{
 bottom: 0;
}
.sponsor_separator{
  width: 50px;
}


/*SECTION7*/
.section7_content{
	margin-block: 20px;
	background: rgba(0, 0, 0, .1);
}
.section7_content >div{
	margin-block: 10px;
}
.review_image{
	height: 80%;
	position: relative;
	border: 1px solid var(--secondary);
	width:120px;
/*	aspect-ratio: 1/1;*/
	border-radius: 50%;
	overflow: hidden;
}
.review_image img{
	height: 100%;
	position: absolute;
	object-fit: cover;
}
.section4_review{
	padding-inline: 10px;
	display: flex;
	gap: 7px;
	align-items: center;
	max-width: 300px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid var(--faded-border);
}
.review_message p{
 font-family: monospace;
 margin-bottom: 10px;
}


/*SECTION8*/

.section8_container{
}
.section8_content1{
margin-block: 2rem;
	position: relative;
	border-radius: var(--border-radius);
	height: 300px;
	width: 100%;
	overflow: hidden;
}
.section8_content1 article{
	position: absolute;
	inset: 0;
	place-content: center;
    background: var(--image_blur_bg);
	text-align: center;
}
.section8_content1 article h4{
	margin-bottom: 20px;
	display: flex;
	font-size: var(--font-md);
	flex-direction: column;
}
.section8_content1 article button{
    margin: 0 auto;
    padding-inline: 20px;
}
.contact_container{
	margin-block: 30px;
	gap: 40px;
}
.contact_container h2 {

}
.contact_container p{
/*  max-width: 300px;*/
}
.section8_content2 h2{
	text-transform: capitalize;
	font-size: clamp(var(--font-md), 6vw, var(--font-lg));
}
.section8_content2 .period {
background: var(--secondary);
 height: 30px;
  width: 30px;
  border: 0;
  position: relative;
}
.section8_content2 .period:before{
	content: '';
	width: inherit;
	height: inherit;
	border-radius: 50%;
	position: absolute;
	right: -50%;
	z-index: -1;
	background: var(--border-color);
}
.email{
	padding: 1px ;
	width: 100%;
	max-width: 40rem;
	background:var(--faded-border) ;
	border-radius: 40px;

}
.email input{
	padding:0 10px;
	color: var(--border-color);
}


/*	FOOTER*/

.footer_container{
	position: relative;
	padding-top: 10px;
	gap: 10px;
}
.footer_container:before{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	background: white;
	top: 0;
}
.socials{
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	}
.socials button{
	overflow: hidden;
  padding: 5px 10px;
  
}
/*MEDIAQueries*/


@media (max-width:800px){

	.hero_content>article{
		 place-items: center;
		  text-align: center;
	}
	.sub_title{
	min-width:0px;
}
	.menu_open{
		cursor: pointer;
		display: block;
		animation: menu 1s linear infinite;
	}
	@keyframes menu {
		75%{
          transform: translateY(5px);
		}
		100%{
          transform: translateY(0);
		}
	}

	
	.nav_list{
		display: flex;
		position: absolute;
	z-index: 1;
	opacity: 0;
	transform: translate(-50%,0) scale(0);
	background: var(--dark);
	width: 90%;
	left: 50%;
	flex-direction: column;
	margin:0;
	font-size: var(--font-sm);
	padding: 30px 10px;
	border-radius: var(--border-radius);
	transition: transform .2s ease;

	}
	.nav_list.active{
		opacity: 1;
		transform: translate(-50%,60%) scale(1.0);
	}
	.list_items{
		border-radius: var(--border-radius);
		padding: 10px;
		text-align: center;
		width: 100%;
	}
	.list_items:hover{
      background: var(--secondary);
	}
.bx2_btm{
	gap: 10px;
}
.section2 .bx2{
	place-content: center;
}
.footer_container{
	flex-direction: column-reverse;

}
}
 @media (max-width:500px){
/*HERO*/
 	.section2 .top_boxes{
	flex-direction: column;
}
.bx2_btm{
	width: 140px;
}
.section4_image .cat{
	position: absolute;
}
.content2_right{
 display:none;
}
.contact_container{
	flex-direction: column-reverse;
}

 }

 @media (max-width:300px) {
 	.section6_title2 p{
	display: none;
}

 }

/*SCROLL*/
::-webkit-scrollbar{
   width: 5px;
   height: 1px;
   background: var(--primary);
}
::-webkit-scrollbar-thumb{
   background: var(--secondary);
   border-radius: 20px;
}


